section {
  position: relative;
  /* height: 100vh; */
  display: flex;
  /* align-items: center; */
  justify-content: center;
}
.bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  /* background-image: url(https://news.northeastern.edu/interactive/huskyHistory/bkg/01.jpg); */
}

.bg.one {
background-image: url(https://news.northeastern.edu/interactive/huskyHistory/bkg/light/01.jpg);
}
.bg.two {
background-image: url(https://news.northeastern.edu/interactive/huskyHistory/bkg/light/02.jpg);
}
.bg.three {
background-image: url(https://news.northeastern.edu/interactive/huskyHistory/bkg/light/03.jpg);
}
.bg.four{
background-image: url(https://news.northeastern.edu/interactive/huskyHistory/bkg/light/04.jpg);
}
.bg.five {
background-image: url(https://news.northeastern.edu/interactive/huskyHistory/bkg/light/05.jpg);
}
.bg.six {
background-image: url(https://news.northeastern.edu/interactive/huskyHistory/bkg/light/06.jpg);
}
.bg.seven {
background-image: url(https://news.northeastern.edu/interactive/huskyHistory/bkg/light/07.jpg);
}
.bg.eight {
background-image: url(https://news.northeastern.edu/interactive/huskyHistory/bkg/light/08.jpg);
}

h1 {
  color: #fbf9e7;
font-family: 'Pinyon Script', cursive;
  text-shadow: 1px 1px 3px black;
  z-index: 1;
  margin: .5em 0em .1em 0em;
  font-size: 6em;
  font-weight: 400;
}
h2 {
color: #fff;
font-family: harriet,serif;
font-size: 2.3em;
}
/* h2 span.noScript{
color: #fbf9e7;
font-family: harriet,serif;
font-size: .8em;} */
p {
font-size: 1.3em;
font-family: harriet,serif;
line-height: 1.55;
color: #fff;
}
h1 span.firstLetter{
  font-size: 2em;
  margin-right: -30px;
  color: gold;
  background-color: #333;}
div.slideContent {
  max-width: 60%;
  padding: 1em;
  margin: 0 auto;
  background-color: rgba(0, 0, 0, 0.3);
}
div.photoReel {
max-width: 100%;
}
div.photoReel img {
max-width: 100%;
}
